.card {
  position: relative;
  width: 100%;
  height: 490px;
  display: flex;
  flex-direction: column;

  .img_poke {
    width: 160px;
    margin: 0 auto;
    z-index: 20;
  }

  .sub_card {
    position: absolute;
    border-radius: 10px;
    min-height: 370px;
    padding: 15px;
    width: 100%;
    margin-top: 100px;
    padding-top: 15px;
    border: 1px solid #42424242;
    box-shadow: 1px 1px 0px hsl(33, 42%, 40%), 2px 2px 0px hsl(33, 42%, 39%), 3px 3px 0px hsl(33, 42%, 38%), 4px 4px 0px hsl(33, 42%, 37%), 5px 5px 0px hsl(33, 42%, 36%);
  }

  .id_card {
    background-color: white;
    border: 1px solid #424242dd;
    width: auto;
    padding: 1px 4px;
    font-size: 0.85rem;
    border-radius: 1px;
    display: inline-block;
  }

  .name_card {
    margin-top: 8px;
    font-size: 1.2rem;
    display: block;
    text-transform: capitalize;
    font-weight: 900;
    -webkit-text-stroke: 0.4px #ffffff9e;
    -webkit-text-fill-color: #000;
  }

  .altura_poke {
    margin-top: 20px;
    font-size: 0.75rem;
    text-transform: capitalize;
    display: block;
    color: #484848;
  }

  .peso_poke {
    margin-top: 20px;
    font-size: 0.75rem;
    text-transform: capitalize;
    display: block;
    color: #484848;
  }

  .habitat_poke {
    margin-top: 20px;
    font-size: 0.75rem;
    text-transform: capitalize;
    display: block;
    color: #484848;
  }

}