:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  &::-webkit-scrollbar {
    width: 10px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: rgb(10, 117, 215);
    border-radius: 5px;
  }

  &::-webkit-scrollbar-track {
    background-color: #afaeae;
  }
}

// POR COLORES CARD
.bg-green {
  background: linear-gradient(rgba(0, 128, 0, 0.5), rgba(155, 139, 34, 0.5));
  /* Verde y verde bosque */
}

.bg-red {
  background: linear-gradient(rgba(255, 0, 0, 0.5), rgba(0, 0, 255, 0.5));
}

.bg-blue {
  background: linear-gradient(rgba(0, 0, 255, 0.5), rgba(0, 128, 255, 0.5));
  /* Azul y azul celeste */
}

.bg-yellow {
  background: linear-gradient(rgba(255, 255, 0, 0.5), rgba(255, 165, 0, 0.5));
  /* Amarillo y naranja */
}

.bg-brown {
  background: linear-gradient(rgba(139, 69, 19, 0.5), rgba(255, 82, 45, 0.5));
  /* Marrón oscuro y marrón claro */
}

.bg-purple {
  background: linear-gradient(rgba(110, 0, 128, 0.5), rgba(255, 0, 211, 0.5));
  /* Púrpura y violeta */
}

.bg-black {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(120, 64, 64, 0.5));
  /* Negro y gris oscuro */
}

.bg-pink {
  background: linear-gradient(rgba(255, 192, 203, 0.5), rgba(255, 105, 180, 0.5));
  /* Rosa claro y rosa oscuro */
}

.bg-gray {
  background: linear-gradient(rgba(128, 128, 128, 0.5), rgba(169, 169, 169, 0.5));
  /* Gris y gris claro */
}

.bg-white {
  background: linear-gradient(rgba(255, 255, 255, 0.5), rgba(100, 248, 255, 0.5));
  /* Blanco y blanco hueso */
}

.bg-all {
  background: linear-gradient(rgba(153, 153, 153, 0.5), rgba(211, 211, 211, 0.5));
  /* Gris medio y gris claro */
}

// POR TIPOS CARD

.color-fire {
  background-color: red;
  background: linear-gradient(to right, red, orange);
}

.color-water {
  background-color: blue;
  background: linear-gradient(to right, blue, lightblue);
}

.color-grass {
  background-color: green;
  background: linear-gradient(to right, green, lime);
}

.color-electric {
  background-color: yellow;
  background: linear-gradient(to right, yellow, lightyellow);
}

.color-ice {
  background-color: cyan;
  background: linear-gradient(to right, cyan, lightcyan);
}

.color-ground {
  background-color: brown;
  background: linear-gradient(to right, brown, sandybrown);
}

.color-flying {
  background-color: skyblue;
  background: linear-gradient(to right, skyblue, lightsteelblue);
}

.color-psychic {
  background-color: fuchsia;
  background: linear-gradient(to right, fuchsia, pink);
}

.color-poison {
  background-color: purple;
  background: linear-gradient(to right, purple, violet);
}

.color-rock {
  background-color: gray;
  background: linear-gradient(to right, gray, darkgray);
}

.color-fighting {
  background-color: darkred;
  background: linear-gradient(to right, darkred, indianred);
}

.color-ghost {
  background-color: indigo;
  background: linear-gradient(to right, indigo, darkslateblue);
}

.color-dragon {
  background-color: darkblue;
  background: linear-gradient(to right, darkblue, lightblue);
}

.color-dark {
  background-color: black;
  background: linear-gradient(to right, black, dimgray);
}

.color-fairy {
  background-color: lightpink;
  background: linear-gradient(to right, lightpink, pink);
}

.color-steel {
  background-color: silver;
  background: linear-gradient(to right, silver, lightgray);
}

.color-bug {
  background-color: olive;
  background: linear-gradient(to right, olive, yellowgreen);
}

.color-normal {
  background-color: lightgray;
  background: linear-gradient(to right, lightgray, gray);
}