.card_content {
  width: 1400px;
  max-width: calc(100% - 30px);
  min-height: calc(100vh - 309px);
  margin: 0 auto;

  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-gap: 25px;
  padding-bottom: 30px;
}

.card_content_special {
  width: 300px;
  min-width: 300px;
  margin: 0 auto;
  padding-top: 20px;
}

.section_pagination {
  display: flex;
  justify-content: center;
  min-width: 300px;
  margin: 40px 0;

  .div_pagination {
    width: auto;
    background-color: #5865f2;
    display: flex;
    border-radius: 8px;
    overflow: hidden;

    .item_izquierdo {
      background-color: #5865f2;
      height: 30px;
      width: 30px;
      color: white;
      display: grid;
      place-items: center;
      cursor: pointer;
    }

    .item {
      color: white;
      background-color: #424242;
      height: 30px;
      width: 40px;
      color: white;
      display: grid;
      place-items: center;
      border: 1px solid #585858;
    }

    .item_derecho {
      background-color: #5865f2;
      height: 30px;
      width: 30px;
      color: white;
      display: grid;
      place-items: center;
      cursor: pointer;
    }
  }
}
